[Desktop Entry]
Type=Application
Exec=/usr/bin/urxvtd
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=urxvtd
Name=urxvtd
Comment[en_GB]=urxvt daemon
Comment=urxvt daemon
