[Desktop Entry]
Name=Emacs Client
Exec=/home/djwilcox/bin/emacs-capture %u 
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol;
