[Desktop Entry]
Name=Transmission
Exec=/usr/local/bin/magnet-add %u
Icon=utilities-terminal
Type=Application
Terminal=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
